---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

interface Entry {
  data: CollectionEntry<'education'>['data'];
  slug: string;
}

const raw = await getCollection('education');
const entries: Entry[] = await Promise.all(
  raw.map(async entry => {
    return { data: entry.data, slug: entry.slug };
  })
);

// Sort entries by order
entries.sort((a, b) => (a.data.order || 0) - (b.data.order || 0));
---

<Layout>

  <div class="education">
    <h2>Education</h2>
    <hr />

    {entries.map(entry => {
      const { data } = entry;
      return (
        <a href={`/education/${entry.slug}#main-area`}>
          <div class="timeline-card">
            <div class="card-icon">
              <img transition:name={`img-${entry.slug}`} src={data.logo} alt={`${data.school} Logo`} />
            </div>
            <div class="card-content">
              <h4>{data.degree}</h4>
              <h3 transition:name={`school-${entry.slug}`}>{data.school}</h3>
              {data.minor && <h5>Minor in {data.minor}</h5>}
              <p>{data.location}</p>
            </div>
          </div>
        </a>
      );
    })}
  </div>
</Layout>