---
import Layout from '../layouts/Layout.astro';
import Modal from '../components/Modal.astro';
import educationContent from '../assets/education_content.json';
---

<Layout>
  <Modal title="" />
  <div class="education">
    <h2>Education</h2>
    <hr />
    {educationContent.education.map((edu) => (
      <div class="timeline-card">
        <div class="card-icon">
          <img src={edu.logo} alt={`${edu.school} Logo`}>
        </div>
        <div class="card-content">
          <h4>{edu.degree}</h4>
          <h3>{edu.school}</h3>
          {edu.minor && <h5>Minor in {edu.minor}</h5>}
          <p>{edu.location}</p>
        </div>
      </div>
    ))}
  </div>
</Layout>