---
import Layout from '../layouts/Layout.astro';
import Modal from '../components/Modal.astro';
import personalProjectsContent from '../assets/personal_projects_content.json';
---

<Layout>
  <Modal title="" />
  <div class="projects">
    <h2>Personal Projects</h2>
    <hr />
    <div class="project-content-all-cards">
      {personalProjectsContent.projects.map((project) => (
        <div class="project-content-card">
          <div class="card-img">
            <img src={project.image} alt={project.title} />
          </div>
          <div class="project-card-content">
            <h3>{project.title}</h3>
            <h4>{project.date}</h4>
            <p>{project.description}</p>
            <div class="project-categories">
              {project.categories.map((category) => (
                <span class={`category ${category.class}`}>{category.name}</span>
              ))}
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>