---
import Layout from '../layouts/Layout.astro';
import Modal from '../components/Modal.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const personalProjectsContent: CollectionEntry<'personal-projects'>[] = await getCollection('personal-projects');
---

<Layout>
  <Modal title="" />
  <div class="projects">
    <h2>Personal Projects</h2>
    <hr />
    <div class="project-content-all-cards">
      {personalProjectsContent.map((entry) => (
      // 'entry.data' holds frontmatter fields
      // 'entry.body' holds the markdown body
      // 'entry.id' or 'entry.slug' for unique key

        <div class="project-content-card">
          <div class="card-img">
            <img src={entry.data.image} alt={entry.data.title} />
          </div>
          <div class="project-card-content">
            <h3>{entry.data.title}</h3>
            <h4>{entry.data.date}</h4>
            <p>{entry.data.description}</p>
            <div class="project-categories">
              {entry.data.categories.map((category: {name: string, class: string}) => (
                <span class={`category ${category.class}`}>{category.name}</span>
              ))}
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</Layout>