---
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

interface Entry {
  data: CollectionEntry<'work-experience'>['data'];
  Content: any;
  slug: string;
}

const raw = await getCollection('work-experience');
const entries: Entry[] = await Promise.all(
  raw.map(async entry => {
    const { Content } = await render(entry);
    return { data: entry.data, Content, slug: entry.slug };
  })
);

// Sort entries by order
entries.sort((a, b) => (a.data.order || 0) - (b.data.order || 0));
---

<Layout>
  <div class="work-exp">
    <h2>Work Experience</h2>
    <hr />
    {entries.map((entry) => (
      <div class="timeline-card">
        <div class="card-icon">
          <img transition:name={`img-${entry.slug}`} src={entry.data.logo} alt={`${entry.data.company} Logo`}>
        </div>
        <a href={`/work_experience/${entry.slug}`}>
          <div class="card-content">
            <h4 transition:name={`company-${entry.slug}`}>{entry.data.company}</h4>
            <h3>{entry.data.position}</h3>
            <h5>{entry.data.period}</h5>
            <p>{entry.data.type}</p>
          </div>
        </a>
      </div>
    ))}
  </div>
</Layout>