---
import Layout from '../layouts/Layout.astro';
import Modal from '../components/Modal.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const workExperienceContent: CollectionEntry<'work-experience'>[] = await getCollection('work-experience');
---

<Layout>
  <Modal title="" />
  <div class="work-exp">
    <h2>Work Experience</h2>
    <hr />
    {workExperienceContent.map((entry) => (
      // 'entry.data' holds frontmatter fields
      // 'entry.body' holds the markdown body
      // 'entry.id' or 'entry.slug' for unique key

      <div class="timeline-card">
        <div class="card-icon">
          <img src={entry.data.logo} alt={`${entry.data.company} Logo`}>
        </div>
        <div class="card-content">
          <h4>{entry.data.company}</h4>
          <h3>{entry.data.position}</h3>
          <h5>{entry.data.period}</h5>
          <p>{entry.data.type}</p>
        </div>
      </div>
    ))}
  </div>
</Layout>